@font-face {
    font-family: montserrat-reg;
    src: url(../Assets/fonts/Montserrat-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: montserrat-bold;
    src: url(../Assets/fonts/Montserrat-Bold.ttf);
    font-style: normal;
}
@font-face {
    font-family: montserrat-med;
    src: url(../Assets/fonts/Montserrat-Medium.ttf);
    font-style: normal;
}

@font-face {
    font-family: montserrat-black;
    src: url(../Assets/fonts/Montserrat-Black.ttf);
    font-style: normal;
}

@font-face {
    font-family: montserrat-light;
    src: url(../Assets/fonts/Montserrat-Light.ttf);
    font-style: normal;
}

@font-face {
    font-family: montserrat-semi;
    src: url(../Assets/fonts/Montserrat-SemiBold.ttf);
    font-style: normal;
}

:root {
    --white: #FFFFFF;
    --medium-grey: #808080;
    --lighter-black: #4D4D4D;
    --near-black: #333333;
    --light-grey: #C7CED1;
    --lighter-grey: #F1F1F1;
    --primary: #157AFE;
    --less-primary: #246EB9;
    --white-transparent: rgba(256, 256, 256, 0.95);
    --black-transparent: rgba(50, 50, 50, 0.3);
    --fanta-red: #ff2020;
}