*{
    padding: 0px;
    margin: 0px;
}

.section-header {
    height: 280px;
    background-color: #e6f1ff;
    margin-bottom: 67px;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}

.wrap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 82px;
  }
  
  .wrap-header img {
    margin-right: 550px;
  }
  
  .wrap-header h2 {
    font-family: montserrat-bold;
    font-size: 2.2rem;
  }

.titleHead{
    font-family: montserrat-semi;
    font-size: 15px;
    margin: auto;
    font-style: normal;
    font-size: 24px;
    text-align: center
}  

.contain{
    width: 70%;
    min-width: 450px;
    position: relative;
    transform: translateX(-50%);
    top: 70%;
    left: 50%;
    padding: 50px 30px;
    border-radius: 7px;
}

.image-container{
    width: 90%;
    margin: 0 auto 30px auto;
}

.image-container img{
    display: block;
    max-width: 100%;
    position: relative;
    max-height: 400px;
    margin: auto;
    border-radius: 50%;

}

input[type="file"]{
    display: none;
}

.fileChoose{
    display: block;
    position: relative;
    border: 1.5px solid #157AFE;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    padding: 15px 0;
    font-family: montserrat-reg;
    font-size: 16px;
    margin: auto;
    color: #157AFE;
    cursor: pointer;
}

.fileChoose:hover{
    background-color: #157AFE;
    color: white;
}

.fileType{
    position: relative;
    font-family: montserrat-reg;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #808080;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content{
    display: flex;
    /* height: 100vh; */
    /* justify-content: center; */
    align-items: center;
    padding: 20px 30px;
}

.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    width: calc(100% / 2 - 20px);
    font-family: montserrat-semi;
    font-size: 15px;
    margin-bottom: 15px;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    font-family: montserrat-reg;
    font-size: 15px;
    color: #858585;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    background: #F7F7F7;
    transition: all 0.3s ease;
}


form .input-box .gender-title{
    font-family: montserrat-semi;
    font-size: 15px;
    margin-bottom: 15px;
}

form .input-box .category{
    display: flex;
    width: 50%;
    margin: 14px 0;
    justify-content: space-around;
}

.input-box .category label{
    display: flex;
    align-items: center;
}

.input-box .category .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3 ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two{
    border-color: #d9d9d9;
    background: #157AFE;
}

form input[type="radio"]{
    display: none;
}

.btn-save{
    font-family: montserrat-bold;
    font-size: 1rem;
    color: white;
    padding: 20px 500px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    margin-bottom: 53px;
    cursor: pointer;
}
.btn-save:hover{
    opacity: .7;
}

.input-box.succes input{
    border-color: #09c372;
}

.input-box.error input{
    border-color: #ff3860;
}

.input-box.error{
    color: #ff3860;
    font-size: 12px;
    font-family: montserrat-reg;
}

.overlay{
    position: absolute;
    height: 218.5vh;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    z-index: 101;
}

body.active .overlay{
    opacity: 1;
    pointer-events: auto;
}

.modal-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 861px;
    height: 539px;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%) scale(1.2);
    top: 50%;
    left: 50%;
    z-index: 102;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in;
}

body.active .modal-box{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content h2{
    font-family: montserrat-bold;
    font-size: 1.8rem;
    margin-bottom: 4px;
}
.modal-content p{
    font-family: montserrat-reg;
    font-size: 1rem;
    max-width: 262px;
    text-align: center;
    margin-bottom: 40px;
}

.modal-content .btn-modal{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 18px 90px;
    font-family: montserrat-semi;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.modal-content .btn-modal:hover{
    opacity: .7;
}