.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 90vw;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    animation: fade-in 0.5s;
}

.banner h3 {
    width: 35%;
    position: absolute;
    left: 15%;
    bottom: 20%;
    font-family: montserrat-bold;
    font-size: 3rem;
    color: var(--white);

    animation: fade-in 0.5s;
}

.prev-next-btn {
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 10;

    animation: none;
}

.banner-btn {
    width: 50px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.banner-btn:hover {
    background-color: var(--primary);
}

.banner-arrow {
    font-size: 2rem;
    color: var(--white);
}

.slider {
    width: 90vw;
}

.slider-title {
    margin-bottom: 40px;
}

.slider-title h1 {
    font-family: montserrat-bold;
    font-size: 2.4rem;
    color: var(--near-black);
}

.slider-title p {
    font-family: montserrat-reg;
    font-size: 1.2rem;
    color: var(--lighter-black);
    margin-top: 10px;
}

.carousel {
    background-color: var(--lighter-grey);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:first baseline;
    align-items: flex-start;
    overflow-x: scroll;
}

.card {
    background-color: var(--white);
    min-width: 350px;
    max-width: 350px;
    height: fit-content;
    border-radius: 5px;
    margin: 0px 20px;
    position: relative;
    overflow: hidden;
}

.card:hover .card-back{
    opacity: 1;
}

.card:first-child {
    margin: 0px;
    margin-right: 20px;
}

.card:last-child {
    margin: 0px;
    margin-left: 20px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card-details {
    width: 100%;
    padding: 40px;
}

.card-details h2 {
    font-size: 1.4rem;
    font-family: montserrat-semi;
    color: var(--near-black);
    margin-bottom: 5px;
}

.card-details h3 {
    font-size: 1.2rem;
    font-family: montserrat-semi;
    color: var(--near-black);
    margin: 10px 0px 5px 0px;
}

.card-details p {
    font-family: montserrat-reg;
    color: var(--lighter-black);
    font-size: 1rem;
}

.card-back {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    position: absolute;
    z-index: 10;
    top: 0px;
    padding: 40px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.card-back h4 {
    font-size: 1rem;
    font-family: montserrat-semi;
    color: var(--less-primary);
}

.card-back h2 {
    font-size: 1.6rem;
    font-family: montserrat-bold;
    color: var(--near-black);
}

.card-back p {
    font-family: montserrat-reg;
    color: var(--lighter-black);
    font-size: 1rem;
}

.card-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-btn h2 {
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    padding: 15px 30px;
    text-align: center;
    font-family: montserrat-semi;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card-btn h2:hover {
    opacity: 0.7;
}

.card-btn img {
    height: 40px;
    width: fit-content;
}

.promo-deals {
    width: calc(100% - 120px);
    height: fit-content;
    padding: 60px;
    background-color: #E6F1FF;
}

.promo-deals h1 {
    font-family: montserrat-bold;
    font-size: 2.4rem;
    color: var(--near-black);
    margin-bottom: 40px;
}

.promos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    overflow-x: scroll;
}

.promo {
    min-width: 400px;
    width: 400px;
    position: relative;
    margin: 0px 20px;
}

.promo:first-child {
    margin: 0px 20px 0px 0px;
}

.promo:last-child {
    margin: 0px 0px 0px 20px;
}

.promo img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.promo-banner {
    position: absolute;
    top: 0px;
    background-color: #E52A34;
    width: 250px;
    height: 50px;
    border-radius: 20px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-banner h3 {
    font-family: montserrat-bold;
    font-size: 1.2rem;
    color: var(--white);
    margin-left: -5px;
}

.promo-details {
    background-color: var(--white);
    margin-top: -40px;
    padding: 40px;
    position: relative;
    z-index: 5;
    border-radius: 20px;
}

.promo-details h2 {
    font-family: montserrat-bold;
    font-size: 1.4rem;
    color: var(--near-black);
}

.promo-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
}

.promo-rating img {
    height: 20px;
    width: 20px;
}

.promo-details h3 {
    font-family: montserrat-semi;
    font-size: 1rem;
    color: var(--medium-grey);
    text-decoration: line-through;
}

.promo-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
}

.promo-price h4 {
    background-color: rgba(255, 0, 0, 0.25);
    padding: 5px 10px;
    color: #FD0000;
    font-family: montserrat-bold;
    font-size: 1rem;
    margin-right: 10px;
}

.promo-price h3 {
    color: var(--near-black);
    text-decoration: none;
    font-size: 1.2rem;
}

.promo-details h5 {
    font-family: montserrat-semi;
    color: var(--medium-grey);
    font-size: 1rem;
    margin: 20px 0px 5px 0px;
}

.promo-details p {
    font-family: montserrat-reg;
    color: var(--lighter-black);
    font-size: 1rem;
    line-height: 1.2rem;
}

.promo-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.promo-btn h2 {
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    padding: 15px 30px;
    text-align: center;
    font-family: montserrat-semi;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.promo-btn h2:hover {
    opacity: 0.7;
}

.promo-btn img {
    border-radius: 0px;
    height: 40px;
    width: fit-content;
}

.section {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F0F6FF   ;
}

.section img {
    width: 150%;
    height: 100%;
    object-fit: cover;
}

.section-details {
    padding: 80px;
}

.section-details h2 {
    max-width: 400px;
    font-family: montserrat-bold;
    font-size: 2.4rem;
    color: var(--near-black);
}

.section-details p {
    font-family: montserrat-reg;
    font-size: 1.2rem;
    color: var(--near-black);
    margin: 20px 0px;
}

.section-btn {
    display: flex;
    flex-direction: row;
}

.section-btn a:first-child {
    color: var(--white);
    background-color: var(--primary);
    padding: 15px 30px;
    text-decoration: none;
    font-family: montserrat-semi;
    font-size: 1.2rem;
    border-radius: 5px;     
}

.section-btn a:last-child {
    color: var(--primary);
    border: 1.5px solid var(--primary);
    padding: 15px 30px;
    text-decoration: none;
    font-family: montserrat-semi;
    font-size: 1.2rem;
    margin-left: 30px;
    border-radius: 5px;
}

.section-btn a {
    transition: all 0.3s ease-in-out;
}

.section-btn a:hover {
    opacity: 0.7;
}

.faq {
    width: 90vw;
}

.faq .faq-title {
    margin-bottom: 40px;
}

.faq .faq-title h1 {
    font-family: montserrat-bold;
    font-size: 2.4rem;
    color: var(--near-black);
    margin-bottom: 40px;
}

.faq-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-left: -20px;
}

.faq-container {
    min-width: 400px;
    width: calc(50% - 100px);
    padding: 30px;
    background-color: var(--lighter-grey);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 20px;
}

.faq-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.faq-question h2 {
    font-family: montserrat-semi;
    font-size: 1.2rem;
    color: var(--near-black);
    margin-right: 20px;
}

.faq-explain {
    margin-top: 30px;
    border-top: 2px solid var(--light-grey);
    transition: all 0.3s ease-in-out;
}

.faq-explain p {
    font-size: 1rem;
    font-family: montserrat-reg;
    line-height: 1.4rem;
    color: var(--lighter-black);
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}

.faq-arrow {
    font-size: 1.4rem;
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

.faq-arrow-focused {
    transform: rotate(90deg);
}

.faq-hidden {
    margin-top: 0px;
    border: 0px;
}

.faq-hidden p {
    font-size: 0rem;
    margin-top: 0px;
    line-height: 0rem;
}

.margin {
    margin: 50px 0px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}