* {
    padding: 0px;
    margin: 0px;
}

.nav-bar {
    height: 100px;
    width: 100vw;
    background-color: var(--white-transparent);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 0px 10px 0px var(--black-transparent);
}

.nav-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    height: 30px;
}

.nav-categories {
    position: relative;
}

.nav-categories h3 {
    font-family: montserrat-reg;
    font-size: 1.2rem;
    color: var(--near-black);
    cursor: pointer;
    font-weight: normal;
}

.drop-categories {
    transform: translate(-30px, 50px);
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--white-transparent);
    padding: 30px;
    border-radius: 5px;
    animation: fade-in 0.3s;
    box-shadow: 0px 0px 10px 0px var(--black-transparent);
}

.drop-categories a {
    font-family: montserrat-reg;
    font-size: 1rem;
    color: var(--near-black);
    text-decoration: none;
    margin: 10px 0px;
    transition: all 0.3s ease-in-out;
}

.drop-categories a:hover {
    color: var(--primary);
}

.drop-categories a:first-child {
    margin: 0px 0px 10px 0px;
}

.drop-categories a:last-child {
    margin: 10px 0px 0px 0px;
}

.nav-search {
    position: relative;
}

.search-bar {
    width: calc(100% - 140px);
    border-radius: 7px;
    border: 1.5px solid var(--medium-grey);
    padding: 15px 70px;
    color: var(--near-black);
    font-family: montserrat-reg;
    font-size: 1.1rem;
}

.search-result {
    transform: translate(0px, 40px);
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: absolute;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px var(--black-transparent);

    animation: fade-in 0.3s;
}

.search-result a{
    width: 100%;
    font-family: montserrat-reg;
    font-size: 1rem;
    color: var(--near-black);
    text-decoration: none;
    margin: 10px 0px;
}

.search-result a:first-child {
    margin: 0px 0px 10px 0px;
}

.search-result a:last-child {
    margin: 10px 0px 0px 0px;
}

.search-result a:only-child {
    margin: 0px;
}

.search-result p{
    width: 100%;
    font-family: montserrat-reg;
    font-size: 1rem;
    color: var(--near-black);
    text-decoration: none;
}

.search-result a:hover {
    color: var(--primary);
}

#magnify {
    height: 25px;
    color: var(--medium-grey);
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

#close {
    height: 20px;
    color: var(--medium-grey);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.hidden {
    display: none;
}

.nav-my-class a {
    font-family: montserrat-reg;
    font-size: 1.2rem;
    color: var(--near-black);
    text-decoration: none;
}

.nav-cart img {
    height: 30px;
    color: var(--near-black);
}

.nav-non-log {
    display: none;
}

.nav-logged{
    position: relative;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    cursor: pointer;
}

.drop-profile {
    transform: translate(0px, 40px);
    width: 300px;
    position: absolute;
    right: 0px;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--white-transparent);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px var(--black-transparent);

    animation: fade-in 0.3s;
}

.identity {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.identity img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
}

.profile-wrapper h3 {
    font-family: montserrat-reg;
    font-size: 1.2rem;
    color: var(--near-black);
    font-weight: normal;
}

.profile-wrapper h4 {
    font-family: montserrat-reg;
    font-size: 1rem;
    color: var(--medium-grey);
    margin-top: 2px;
    font-weight: normal;
}

.drop-profile a {
    font-family: montserrat-reg;
    font-size: 1rem;
    text-decoration: none;
    color: var(--near-black);
    margin: 5px 0px;
}

.drop-profile a:hover {
    color: var(--primary);
}

.drop-profile hr {
    width: 100%;
    border: 0.5px solid var(--light-grey);
    margin: 10px 0px;
}

#profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#username {
    font-family: montserrat-reg;
    font-size: 1.2rem;
    color: var(--near-black);
    font-weight: normal;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}